<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: headerFragment">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="container">
      <div th:include="layout :: bannerFragment">
      </div>
      <div id="workarea">

<h1>Modify QA test</h1>
<div id="operations">
    <ul>
        <li><a href="qatests.html" th:href="@{'/qatests/' + ${datasetId}}" >Back to tests</a></li>
    </ul>
</div>
<form action="qatestEdit.html" th:action="@{'/qatests/' + ${datasetId} + '/edit'}" th:object="${qatest}" method="POST">
    <table class="datatable">
        <tr>
            <th scope="row"><label for="query">Query</label></th>
            <td><textarea cols="60" rows="5" th:field="*{query}">select count(*) from table</textarea></td>
        </tr>
        <tr>
            <th scope="row"><label for="expectedResult">Expected result</label></th>
            <td><input type="text" size="16" value="john" th:field="*{expectedResult}"/></td>
        </tr>
    </table>
    <input type="submit" value="Update tests"/>
</form>
      </div>
    </div>
    <!-- container -->
    <div id="pagefoot" th:include="layout :: footerFragment">
    Footer
    </div>
  </body>
</html>
